<div id="actions">
  <% link_to new_person_url do %>
    <%= image_tag('actions/add.png') %>Neue Person
  <% end %>
</div>

<h1>Administration</h1>

<% tabnav :administration do %>

  <table style="width: 100%; border-spacing: 0;">
    <tr style="font-size: 11px; text-align: left;">
      <% %w{first_name last_name email blocked role teams administrator}.each do |attr| %>
        <th><%= Person.human_attribute_name attr %></th>
      <% end %>
    </tr>

    <%= render :partial => "person", :collection => @people %>
  </table>

<% end %>