<div id="actions">
  <% link_to new_person_url do %>
    <%= image_tag('actions/add.png') %>Neue Person
  <% end %>
</div>

<h1>Administration</h1>

<% tabnav :administration do %>

  <table class="data-table">
    <%= render :partial => "person_table_head" %>
    <%= render :partial => "person", :collection => @people %>
  </table>

<% end %>
