<div id="actions">
  <% if !current_user.teacher? || !current_user.tutor? || current_user.administrator? %>
    <% link_to new_person_url do %>
      <%= image_tag('actions/add.png') %>Neue Person
    <% end %>
  <% else %>
    <% link_to new_person_url do %>
      <%= image_tag('actions/add.png') %>Neue(r) SchülerIn
    <% end %>
  <% end %>
</div>

<% if current_user.administrator? %>
  <h1>Benutzerverwaltung</h1>
<% else %>
  <h1>Schülerverwaltung</h1>
<% end %>

<table>
  <tr>
    <th>Vorname</th>
    <th>Nachname</th>
    <th>E-Mail Addresse</th>
    <th>Gesperrt</th>
    <th>Rolle</th>
    <th>Teams</th>
    <% if current_user.administrator? %>
      <th>Administrator</th>
    <% end %>
  </tr>

  <%= render :partial => "person", :collection => @people %>
</table>

<br />