<% if !current_user.teacher? || !current_user.tutor? || current_user.administrator? %>
  <h1>Neue Person anlegen</h1>
<% else %>
  <h1>Neuen Schüler anlegen</h1>
<% end %>

<%= render :partial => "form" %>

<%= link_to_function "Zurück", "history.back()" %>