<h1>
  Zugang aktivieren
</h1>

<% tabnav :contest do %>
  <% if @person.validated? %>
    Ihr Zugang wurde erfolgreich aktiviert.
  <% else %>
    Der Aktivierungscode war ungültig. Ihr Zugang konnte nich aktiviert werden.
  <% end %>
<% end %>
