<% unless entries.nil? or entries.count == 0 %>
 <table class="data-table", id="whitelist-entries">
  <thead style="text-align:left">
   <th>Dateiname</th>
   <th>Kommentar</th>
   <th>Erstellt am</th>
   <th>Aktionen</th>
  </thead>
  <tbody>
   <% entries.each do |entry| %>
    <%= render :partial => "entry", :locals => {:entry => entry} %>
   <% end %>
  </tbody>
 </table>
<% else %>
 <b> Es befinden sich keine Einträge auf dieser Whitelist </b>
<% end %>
