<h1>
  <%= link_to @contest.name, contest_url(@contest)%> /
  Voranmeldungen: Teams
</h1>

<% tabnav :contest do %>
 <% show_to :administrator do %><div style="margin-bottom: 20px; font-weight: bold">Es sind aktuell <%= @preliminary_contestants.count %> Teams angemeldet.</div> 

  <div id="filter">
    <% states = [["Alle","all"]] %>
    <% @preliminary_contestants.each do |p| %>
       <% states |= [[p.school.state, p.school.state.downcase]] %>
    <% end %>
    <% states.sort!{|a,b| a.first <=> b.first } %>
    Anzeige auf Bundesland beschränken: <%= select_tag "select_state",options_for_select(states) %>
  </div>
 <% end %>

 <%= render :partial => "list", :locales => {:preliminary_contestants => @preliminary_contestants}%>
<% end %>

<% javascript_tag do %>
 <% show_to :administrator do %>
  $("#preliminary_contestants").tablesorter({
    headers: {
      4: { sorter: false }
    }
   })  
 
  $("#select_state").change(function(){
   var new_state = $("#select_state option:selected").val()
   if(new_state == "all"){
     $(".preliminary_contestant").show()
   }else{
     $(".preliminary_contestant").hide()
     $("."+new_state).show()
   }
  })
 <% end %>
<% end %>
