<h1>
  <%= link_to @contest.name, contest_contestants_url(@contest) %> /
  <%= @contestant.name %>
</h1>

<% tabnav :contestant do %>
  <% semantic_form_for([@contestant.contest, @contestant]) do |f| %>
    <% f.inputs do %>
      <%= f.input :name, :required => true %>
    <% end %>
    <%= f.buttons %>
  <% end %>
<% end %>