<h1>
  <% if @season and not @context.is_a? Season %><%= link_to @season.name, @season %> / <% end %>
  <%= link_to @context.name, [@context, :contestants] %> / 
  <%= @contestant.name %>
</h1>

<% tabnav :contestant do %>
<% end %>
