<p>
  <b>Name:</b>
  <%=h @contestant.name %>
</p>

<p>
  <b>Contest:</b>
  <%=h @contestant.contest.name %>
</p>


<%= link_to 'Edit', edit_contest_contestant_path(@contest, @contestant) %> |
<%= link_to 'Back', contest_contestants_path(@contest) %>