<h1>
  <%= link_to h(@contest.name), contest_friendly_encounters_url(@contest) %> /
  Freundschaftsspiel
</h1>

<%= render :partial => "matches/match", :locals => {:match => @match, :allowQualify => false} %>

<% tooltip_init %>
