body {
  font-family: helvetica, arial, freesans, clean, sans-serif;
  font-size: 13px;
  line-height: 1.5em;
  overflow-y: scroll;
}

p {
  margin: 0.33em 0;
}

ul, li, dl, dt, dd {
  margin: 0;
  padding: 0;
}

dt {
  font-weight: bold;
}

p {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  /* font-family: "Gill Sans", "Gill Sans MT", "Helvetica Neue", "Helvetica", Arial, sans-serif; */
  font-weight: bold;
}

h1 {
  font-size: 22px;
  line-height: 32px;
  margin: 0 0 10px 0;
}

h2, h3, h4, h5, h6 {
  margin: 1em 0 0.5em 0;
}

h1 em {
  font-style: inherit;
  font-variant: small-caps;
  /* color: #4183C4; */
}

img {
  border: 0 none;
  vertical-align: top;
}

#actions {
  margin-right: -10px;
  float: right;
  line-height: 32px;
}

#actions a
{
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  cursor: default;
  margin: 0 0 0 4px;
  background-color: #f8f8f8;
  padding: 0 8px 0 0;
  display: inline-block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #aaa;
  background-image: -webkit-gradient(linear, center top, center bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.06)));
  background-image: -moz-linear-gradient(270deg, rgba(0,0,0,0), rgba(0,0,0,0.06));
}

#actions a:link, #actions a:visited {
  color: #77a;
}

#actions a:hover
{
  border-color: #aaf;
  -webkit-box-shadow: 0 0 3px rgba(255,255,80,0.8);
  background-image: -webkit-gradient(linear,
  center top, center bottom,
  from(rgba(0,0,255,0)),
  color-stop(0.4, rgba(0,0,255,0)),
  color-stop(0.6, rgba(0,0,255,0.06)),
  to(rgba(0,0,255,0.06)));
}

#actions a:active {
  -webkit-box-shadow: inset 1px 1px 4px rgba(0,0,0,0.2);
  background-image: -webkit-gradient(linear,
  center top, center bottom,
  from(rgba(0,0,150,0)),
  color-stop(0.48, rgba(0,0,150,0)),
  color-stop(0.52, rgba(0,0,150,0.1)),
  to(rgba(0,0,150,0.2)));
}

#actions img {
  margin: 0 4px;
}

#mainMenu ul {
  list-style: none;
}

#mainMenu li {
  display: inline;
  margin: 0 0 0 8px;
}

#header #menu a, h1 a {
  font-weight: bold;
  color: #4183C4;
  text-decoration: none;
  padding: 0 0.2em;
  margin: 0 -0.2em;
}

h1 a {
  text-decoration: underline;
}

#header #menu a:hover, h1 a:hover {
  background-color: #222;
  color: white;
  text-decoration: none;
}

#header {
  height: 60px;
  border-bottom: 3px solid #ddd;
  padding: 0 10px;
  background-color: #FCFCFC;
  margin: 0 -10px;
  background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#eee));
}

#header #mainLogo {
  float: left;
}

#header #menu {
  text-align: right;
}

#footer {
  border-top: 2px solid #ddd;
  color: #aaa;
  font-size: 11px;
  line-height: 26px;
  text-align: center;
  margin: 10px -10px 0 -10px;
}

#header .logo {
  text-align: center;
  height: 60px;
  line-height: 60px;
  width: 150px;
  display: inline-block;
  background-image: url('/images/logo_small.png');
  background-repeat: no-repeat;
}

#content {
  padding: 16px 0;
}

#content #show_person #avatar {
  float: right;
  text-align: right;
}

label {
  display: block;
}

label.inline {
  display: inline;
}

form {
  margin: 0;
  padding: 0;
}

.frontpagePhotoBg {
  height: 250px;
  background-color: #f0f0f0;
  margin: 0 -10px 10px -10px;
}

.frontpagePhotoBg .text {
  height: 250px;
  background: -webkit-gradient(linear, left top, right bottom, from(#f8f8f8), to(#e0e0e0));
}

table#rounds {
  width: 100%;
  border-spacing: 0;
}

table#rounds th {
  text-align: left;
}

#rounds .round td {
  font-weight: bold;
}

#rounds .round td > * {
  border: 1px solid #eee;
  background-color: #f8f8f8;
  padding: 0 10px;
  margin: 4px -10px;
}

.ui-widget {
  font-size: inherit;
  font-family: inherit;
}

table.data-table {
  width: 100%;
  border-spacing: 0;
}

table.data-table thead tr {
  text-align: left;
}

table.data-table tr.odd, li.odd {
  background-color: #f8f8f8;
}

abbr {
  border-bottom: 1px dotted;
  cursor: help;
}

.combobox_item:hover {
  background-color: #8DB3FF;
}

a.sort_by {
  text-decoration: none;
  color: #000;
}
