.leftcurtain{  
  width: 50%;  
  height: 100%;
  top: 0px;  
  left: 0px;  
  position: absolute;  
  z-index: 2;  
  }  
.rightcurtain{  
  width: 51%;  
  height: 100%;  
  right: 0px;  
  top: 0px;  
  position: absolute;  
  z-index: 3;  
}  
.rightcurtain img, .leftcurtain img{  
  width: 100%;  
  height: 100%;  
}  
.rope{  
  position: absolute;  
  top: -40px;  
  left: 80%;  
  z-index: 4;  
} 
