.contestant input, .contestant select{
  float: right;
}

.contestant p {
  margin-bottom: 8px;
}

.contestant {
  margin-left: 10px;
  margin-right: 10px;
}

.creator, .contact_function, .preliminary_name, .school, .location{
  float: right;
}

.errors p {
  width: 90%;
  background-color: #CC0000;
  text-align: center;
  padding: 5px;
  font-size: 15px;
}
