.state {
  width: 50%;
  border: 1px solid;
  margin: 0px;
  padding: 5px;
  text-align: center;
}

div.states {
  margin-left: 25%;
}

.past {
  color: #0c0;
  border-color: #0c0;

}

.future {
  color: #777;
  border-color: #777;
}

.current {
  color: #000;
  border-color: #000;
}

.contest {
  cursor: pointer;
}

.controls {
  width: 50%;
  text-align: center;
}

.contests th, .contests td{
  text-align: left;
  padding-right: 15px;
  width: auto;
}

.phase .name {
  width: 50%; 
  font-size: 22px; 
  font-weight: bold; 
  vertical-align: middle; 
  text-align: left;
  padding-left: 50px;
}
