.tabs_tabnav {
  font-size: 15px;
  font-weight: bold;
  height: 28px;
  border-bottom: 1px solid #aaa;
  margin: 13px -10px 0px -10px;
  padding: 0 10px;
  z-index: 1;
  }

.tabs_tabnav ul {
  margin: 0px;
  padding: 0px;
}

.tabs_tabnav li {
  display: inline;
  overflow: hidden;
  height: 28px;
  list-style-type: none; }

.tabs_tabnav li span.disabled {
  color: #888888;
  background: #FAFAFA;
  border: 1px solid #DDDDDD;
  border-bottom: none;
  padding: 5px 10px;
  margin: 0;
  text-decoration: none;}

.tabs_tabnav a, .tabs_tabnav a:visited, tabs_tabnav a.active {
  font-size: 0.8em;
  color: #888;
  border: 1px solid transparent;
  padding: 2px 10px;
  margin: 0;
  line-height: 22px;
  text-decoration: none; }

.tabs_tabnav a:hover {
  background: #fff;
  padding: 5px 10px 5px 10px;
  border: 1px solid #ccc;
  border-bottom: 3px solid white;
}

.tabs_tabnav a.active, .tabs_tabnav a.active:hover {
  font-size: 1em;
  color: #000;
  border-bottom: 0 none;
  padding: 5px 10px 5px 10px;
  line-height: 28px;
  border: 1px solid #aaa;
  border-bottom: 1px solid white;
}

.tabs_tabnav a.active:hover {
  background: #FFFFFF;
  color: #000000; }

.tabs_tabnav_content {
  background: #FFFFFF;
  z-index: 2;
  padding: 2em 0 0 0;
}