td.form_key {
  padding-left: 10px;
  padding-right: 20px;
}

td.form_key, td.form_value, td.form_show{
  line-height: 1em;
  padding: 0.6em 0;
}

td.form_value {
  display: none;
}

td {
  vertical-align: top;
}

table {
  width: 100%;
}

.odd {
  background-color: #f4f4f4;
}

#ticket_form {
  padding: 15px 10px 10px 10px;
  background-color: #f4f4f4;
  border-bottom: 1px solid #EEEEEE;
}

#ticket_head .title {
  font-weight: bold;
  font-size: 150%;
}

#ticket_head {
  padding-right: 10px;
}

#history {
  border: solid 1px;
  border-color: #f4f4f4;
}

#history_title {
  padding-left: 15px;
}

.comment{
  padding-top: 10px;
  padding-left: 15px;
  padding-bottom: 15px;
}

.comment .author{
  color: gray;
  font-size: 90%;
}

.comment .created_at {
  float:right;
  color: gray;
  font-size: 90%;
  margin-right: 8px;
}

.comment .text {
  padding-top: 5px;
}

#add_comment {
  border-top: 3px solid white;
  padding-left: 15px;
  padding-bottom: 15px;
  padding-right: 10px;
  background-color: #f4f4f4;
}

#show_form {
  border-top: 3px solid white;
  padding-top: 4px;
  padding-right: 5px; 
  background-color: #f4f4f4;
  display: none;
}

#show_form .show {
  width: 100%;
  text-align: right;
}

#comment_form {
  padding-top: 1px;
}

#add_comment #comment_form_buttons {
  width: 100%;
  margin-top: 10px;
  padding-right: 8px;
  text-align: right;
}

#add_comment #abort_comment {
  display:none;
}

.separator {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #EEEEEE -moz-use-text-color -moz-use-text-color;
  border-right: 0 none;
  border-style: solid none none;
  border-width: 1px 0 0;
  height: 1px;
  margin: 1em 0;
}

.data-table a {
  text-decoration: none;
}

#ticket_head .update {
  background-color: #F8F8F8;
  background-image: -moz-linear-gradient(270deg, transparent, rgba(0, 0, 0, 0.06));
  border: 1px solid #AAAAAA;
  border-radius: 5px 5px 5px 5px;
  cursor: default;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  margin: 0 0 0 4px;
  padding: 0 8px 0 0;
  text-decoration: none;
}

#ticket_head #form_actions {
  display: none;
  float: right;
  line-height: 32px;
  margin-right: -10px;
}

#ticket_head a {
  color: #7777AA;
}

#content img{
  max-width: 70%;
}
