<%= image_tag "photos/frontpage.png", :style => "float: left;" %>
<div class="text" style="margin-left: 450px;">
  <div style="padding: 20px;">
    <h2 style="margin: 0 0 1em 0; padding: 0; font-size: 16px;">Software-Challenge</h2>
    <p>
      Willkommen auf dem Wettkampfsystem der Software Challenge!
    </p>
  </div>
</div>
