<% ft = @fake_test_suite %>
$("#fake_test_suite_<%= ft.id %>  td.state").replaceWith("<td class='state'><%= (image_for_state(ft.state).gsub "\"", "'").html_safe! %></td>")
$("#restart_<%= ft.id %>").hide()
$("#delete_<%= ft.id %>").hide()
