<% available_groupings = ["context","person"] %>
<% hide_cols ||= {} %>

<% if params[:group_by].present? and available_groupings.include? params[:group_by] %>
  <% grouped = time_entries.group_by{|t| t.try(params[:group_by])} %>
  <% grouped.each do |k,list| %>
    <h3><%= k.name %></h3>
    <%= render :partial => "list", :locals => {:time_entries => list.sort{|a,b| a.created_at <=> b.created_at} , :hide_cols => hide_cols} %>
  <% end %>
<% else %>
  <%= render :partial => "list", :locals => {:time_entries => time_entries.sort{|a,b| a.created_at <=> b.created_at}, :hide_cols => hide_cols} %>
<% end %>
