<style type="text/css">
  .played,
  .fc-agenda .played .fc-event-time,
  .played a {
    background-color: green; /* background color */
    border-color: green;     /* border color (often same as background-color) */
    color: white;           /* text color */
  }
</style>

<div id="calendar-widget"></div>