<table style="width: 100%;">
  <tr style="display: none;">
    <th>&nbsp;</th>
    <th>Wann</th>
    <th>Gespielt?</th>
    <th>&nbsp;</th>
  </tr>

  <% @matchdays.each_with_index do |matchday,i| %>
    <tr>
      <td><%= i+1 %>. Spieltag</td>
      <td>am <%= l(matchday.when, :format => :long) %></td>
      <td><%= matchday_status(matchday) %></td>
      <td><%= link_to 'Anzeigen', [@contest, matchday] %></td>
    </tr>
  <% end %>
</table>