<tr>
  <td><%= match.slots[0].name || "Freispiel" %></td>
  <td style="text-align: center; font-weight: bold;">gegen</td>
  <td><%= match.slots[1].name || "Freispiel" %></td>
  <td style="text-align: center;">
    <% if match.main_result %>
      <% link_to [match.contest, match.matchday, match] do %>
        <%= match.main_result.join(" : ") %>
      <% end %>
    <% elsif match.running? %>
      <%= image_tag 'ui/spinner.gif' %>
    <% else %>
      <em>ausstehend</em>
    <% end %>
  </td>
</tr>