<% rankings = Contestant::RANKINGS %>
<% rankings.delete("none") %>
<% rankings.insert(0, "all") %>
<% rankings = rankings.collect{|r| [t("views.ranking.#{r}"), r]} %>

<p class="print-hide" style="font-size: 15px; margin-bottom: 15px">
<b><%= Contestant.human_attribute_name(:ranking) %>: </b>&nbsp;
<% ranking = "all" if local_assigns[:ranking].nil? %> 
<%= select_tag :ranking, options_for_select(rankings, ranking) %>
</p>

<% javascript_tag do %>
  function refreshStandings() {
    $.get(
      "<%= get_standings_contest_matchday_url(@contest, @matchday) %>",
      "ranking=" + $("select#ranking :selected").val(),
      function(returnedData) {
        $("div#standings").replaceWith(returnedData)   
      }
    )
  }

  $(function() {
    $("select#ranking").change(function() {
      refreshStandings();    
      return false;
    })

    refreshStandings();
  })
<% end %>
