<% rankings = Contestant::RANKINGS.clone %>
<% rankings.delete("none") %>
<% rankings.insert(0, "all") %>
<% rankings = rankings.collect{|r| [t("views.ranking.#{r}"), r]} %>

<p class="print-hide" id="select_ranking" style="font-size: 15px; margin-bottom: 15px; display: none;">
<b><%= Contestant.human_attribute_name(:ranking) %>: </b>&nbsp;
<% ranking = "all" if local_assigns[:ranking].nil? %> 
<%= select_tag :ranking, options_for_select(rankings, ranking) %>
</p>

<% javascript_tag do %>
  $(function(){
    $("#select_ranking").show()
    $("select#ranking").change(function() {
      $("tr.all").hide()
      var visible = $(this).attr("value")
      $("tr."+visible).show()
      $("tr."+visible).each(function(i,e){
        $(e).children().first().text(i+1+".")
      })
    })
  })
<% end %>
