<table class="data-table">
  <colgroup span="2"/>
  <colgroup width="15%"/>
  <thead>
    <tr>
      <th><%= t ("views.player", {:number => 1}) %></th>
      <th><%= t ("views.player", {:number => 2}) %></th>
      <th style="text-align: center;"><%= t "views.result" %></th>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => "matchdays/match", :collection => @matchday.matches %>
  </tbody>
</table>
