<table style="width: 100%;">
  <colgroup span="3"/>
  <colgroup span="2" width="15%"/>
  <thead>
    <tr style="display: none;">
      <th>Spieler 1</th>
      <th>&nbsp;</th>
      <th>Spieler 2</th>
      <th>Ergebnis</th>
    </tr>
  </thead>
  <tbody>
    <% @matchday.matches.each do |match| %>
      <tr>
        <td><%= match.slots[0].name || "Freispiel" %></td>
        <td style="text-align: center; font-weight: bold;">gegen</td>
        <td><%= match.slots[1].name || "Freispiel" %></td>
        <td style="text-align: center;">
          <% if match.result %>
            <%= match.result.first.join(" : ") %>
          <% else %>
            <em>Kein Ergebnis</em>
          <% end %>
        </td>
        <td style="text-align: center;">
          <%= link_to "Details", contest_matchday_match_url(@contest, @matchday, match) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>