<table style="width: 100%;">
  <colgroup span="3"/>
  <colgroup span="2" width="15%"/>
  <thead>
    <tr style="display: none;">
      <th>Spieler 1</th>
      <th>&nbsp;</th>
      <th>Spieler 2</th>
      <th>Ergebnis</th>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => "match", :collection => @matchday.matches %>
  </tbody>
</table>