<table class="data-table">
  <colgroup span="2"/>
  <colgroup width="15%"/>
  <thead>
    <tr>
      <th>Spieler 1</th>
      <th>Spieler 2</th>
      <th style="text-align: center;">Ergebnis</th>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => "matchdays/match", :collection => @matchday.matches %>
  </tbody>
</table>