<table style="width: 100%;">
  <tr>
    <th>&nbsp;</th>
    <th>Spieler</th>
    <% @contest.match_score_definition.fragments.each do |f| %>
      <th><%= f.name %></th>
    <% end %>
  </tr>
  <% matchday.slots.each do |slot| %>
    <tr>
      <td><%= slot.position %>.</td>
      <td><%= slot.contestant.name %></td>
      <% slot.score.to_a_with_precision.each do |value| %>
        <td><%=h value %></td>
      <% end %>
    </tr>
  <% end %>
</table>