<table style="width: 100%;">
  <tr>
    <th>&nbsp;</th>
    <th>Spieler</th>
    <% @contest.match_score_definition.fragments.each do |f| %>
      <th><%= f.name %></th>
    <% end %>
  </tr>
  <% @matchday.matches.each do |match| %>
    <tr>
      <td style="text-align: right;"><%= match.slots[0].name || "Freispiel" %></td>
      <td style="text-align: center; font-weight: bold;">vs</td>
      <td><%= match.slots[1].name || "Freispiel" %></td>
      <td><%= match.result || "Kein Ergebnis" %></td>
    </tr>
  <% end %>
</table>