<h1>
  <%= link_to @contest.name, contest_matchdays_url(@contest) %> /
  <%= @matchday.position %>. Spieltag
</h1>

<% tabnav :matchday do %>
  <%= render :partial => "standings", :locals => { :matchday => @matchday } %>
<% end %>
