<h1>
  <%= link_to @contest.name, contest_matchdays_url %> /
  <%= @matchday.position %>. Spieltag
</h1>

<% tabnav :matchday do %>
  <% if @matchday.played? %>
    <%= render :partial => "standings", :locals => { :matchday => @matchday } %>
  <% else %>
   <%= image_tag 'ui/spinner.gif' %> <br>
   Spieltag läuft gerade, Anzeigen ist aktuell nicht möglich! <br>
   Bitte versuchen sie es später erneut.
  <% end %>
<% end %>
