<h1 id="title">
  <%= link_to @contest.name, contest_matchdays_url %> /
  <%= @matchday.position %>. Spieltag
  <% unless @matchday.published? %>
    (<%=t "views.unpublished" %>)
  <% end %>
 
</h1>

<% tabnav :matchday do %>
 <% if @matchday.published? or current_user.try(:administrator) %>
    <%= render :partial => "standings", :locals => { :matchday => @matchday } %>
  <% end %>
<% end %>
