<div id="actions">
  <%= link_to image_tag('actions/add.png'), new_contestant_client_url(@contestant) %>
</div>


<h1>
  <%= link_to h(@contestant.name), [@contestant.contest, @contestant] %> /
  Computerspieler
</h1>


<table style="width: 100%;">
  <tr style="text-align: left;">
    <th colspan="2">&nbsp;</th>
    <th>Dateiname</th>
    <th>Hauptdatei</th>
    <th>Von</th>
    <th>Datum</th>
  </tr>
  <%= render :partial => "client", :collection => @clients %>
</table>

<% unless @contestant.current_client %>
  <p>
    Es ist noch kein Computerspieler ausgewählt worden.
  </p>
<% end %>