<% if event.valid_event? %>
  <% if event.path.nil? %>
    <% txt = event.text %>
  <% else %>
     <% txt = link_to event.text, replace_variables(event.path) %>
  <% end %>
  <div class="event" >
    <%= event.created_at.to_time.strftime("%d.%m.%y - %H:%M") %> - <%= txt %>
  </div>
<% end %>
