<% if not @email %>
  <h2>Neues Passwort zusenden</h2>
  <% form_tag contest_new_password_url do %>
    <% fields_for :user do |f| %>
      <%= f.label :email, (t "labels.email_adress") %>
      <%= f.text_field :email %>
    <% end %>
    <%= submit_tag (t "actions.send"), :disable_with => t("actions.sending") %>
  <% end %> 
<% end %>
