<h1>
  <%= title %>
</h1>

<% tabnav tab do %>

<center>
<div style="width: 80%; background-color: #eee; border: 1px solid #aaa; text-align: center; padding: 20px; font-size: 15px">
  <div>
    <%= message %>
  </div>
  <div>
    <% links.each do |link| %>
      <div style="margin-top: 10px">
        <%= link_to link[0], link[1] %>
      </div>
    <% end %>
  </div>
</div>
</center>

<% end %>
