<div id="actions">
  <% link_to [:new, :email_template] do %>
    <%= image_tag "actions/add.png" %> Neues Template erstellen
  <% end %>
</div>


<h1>
  E-Mail-Templates
</h1>

<% tabnav :administration do %>
  <% @templates.each do |type,templates| %>
  <h3><%= type.human_name :count => 2 %></h3>
  <%= render :partial => "templates_list", :locals => {:templates => templates} %>
  <% end %>
<% end %>
