<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <timestamp key="time" datePattern="MM-dd'T'HHmm"/>

  <appender name="FILE"
            class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${LOG_DIRECTORY:-log}/game-server_${time}.log</file>

    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <FileNamePattern>${LOG_DIRECTORY:-log}/game-server_${time}.%i.log.gz</FileNamePattern>
      <MinIndex>1</MinIndex>
      <MaxIndex>5</MaxIndex>
    </rollingPolicy>

    <triggeringPolicy
            class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <MaxFileSize>5MB</MaxFileSize>
    </triggeringPolicy>

    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>%d{HH:mm:ss.SSS} %-5level %36logger{36} - %msg%n</Pattern>
    </layout>
  </appender>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <pattern>%.-11d{HH:mm:ss.SSS} %-5level %36logger{36} - %msg%n</pattern>
    </layout>
  </appender>

  <!-- Replace INFO with DEBUG to enable verbose logging -->
  <logger name="sc" level="INFO" />

  <root level="INFO">
    <appender-ref ref="FILE"/>
    <appender-ref ref="STDOUT"/>
  </root>

</configuration>
