Sehr geehrte Lehrerinnen und Lehrer,

das neue Schuljahr hat begonnen oder wird in Ihrem Bundesland in Kürze beginnen. Damit Sie in der Software-Challenge mit Ihren Schülern gleich durchstarten können, stehen Ihnen ab sofort alle benötigten Materialien auf den Seiten der Software-Challenge (http://www.software-challenge.de ) zur Verfügung. Damit wir Ihnen bestmöglichst zur Seite stehen können, bitten wir Sie, an einer weiteren Umfrage teilzunehmen:

<%= @context.is_a?(Season) ? new_season_survey_token_survey_url(@context, @survey_tokens.first, :login_token => @login_token.code) : new_contest_survey_token_survey_url(@contest,@survey_tokens.first, :login_token => @login_token.code) %> 

Ihr persönlicher Betreuer wird Sie in Kürze kontaktieren, um Ihnen bei individuellen Problemen zu helfen.

Sie können sich ab jetzt verbindlich zur Teilnahme anmelden. Sobald Sie wissen, mit wie vielen Teams Sie tatsächlich teilnehmen werden, bitten wir Sie, diese schnellstmöglich über das Wettkampfsystem verbindlich anzumelden, damit wir besser planen können. Vorher überprüfen Sie bitte noch die Teamnamen auf Eindeutigkeit. Wir schlagen eine Benennung nach folgendem Schema vor:

Schulname - Jahrgang/AG-Bezeichnung - Nummer

Insgesamt sollte der Teamname höchstens 24 Zeichen lang sein. Bitte kürzen Sie erforderlichenfalls Schulnamen und/oder Jahrgang/AG-Bezeichnung sinnvoll.

Mit freundlichen Grüßen
Ihr Software-Challenge-Team
