Hallo,

damit Sie in der Software-Challenge mit Ihren Schülern gleich durchstarten können,
stehen Ihnen ab sofort alle benötigten Materialien auf den Seiten der Software-Challenge
(http://www.software-challenge.de ) zur Verfügung. 
Damit wir Ihnen bestmöglich zur Seite stehen können, bitten wir Sie, an 
dieser zweiten und letzten Umfrage teilzunehmen:

<%= @context.is_a?(Season) ? new_season_survey_token_survey_url(@context, @survey_tokens.first, :login_token => @login_token.code) : new_contest_survey_token_survey_url(@contest,@survey_tokens.first, :login_token => @login_token.code) %> 

Ihr persönlicher Betreuer wird Sie in Kürze kontaktieren, um Ihnen bei individuellen
Problemen zu helfen.

Sie können sich auch sofort verbindlich zur Teilnahme anmelden. Sobald Sie wissen,
mit wie vielen Teams Sie tatsächlich teilnehmen werden, bitten wir Sie, diese schnellstmöglich
über das Wettkampfsystem verbindlich anzumelden, damit wir besser planen können.
Vorher überprüfen Sie bitte noch die Teamnamen auf Eindeutigkeit. Wir schlagen
eine Benennung nach folgendem Schema vor:

Schulname - Jahrgang/AG-Bezeichnung - Nummer

Insgesamt sollte der Teamname höchstens 24 Zeichen lang sein. Bitte kürzen Sie
erforderlichenfalls Schulnamen und/oder Jahrgang/AG-Bezeichnung sinnvoll.

Vielen Dank und freundliche Grüße
  Ihr Software-Challenge-Team

PS: Sollte der oben angeführte Link nicht mehr gültig sein, können Sie die Fragen
einfach im Wettkampfsystem unter "Umfragen" beantworten.

