<html>
<head>
<title>Replay</title>
<link type="text/css" rel="stylesheet" href="http://yui.yahooapis.com/3.0.0/build/cssfonts/fonts-min.css" />
<script type="text/javascript" src="http://yui.yahooapis.com/3.0.0/build/yui/yui-min.js"></script>
<style>
body {
      background-color: #f8f8f8;
      font-family: helvetica,arial,freesans,clean,sans-serif;
      font-size: 13px;
      line-height: 1.5em;
      padding: 0;
      margin: 0;
}
.field { position:absolute; width: 39; height: 39; border: 1px solid #999; background-color: #ccc;}
#status {
      position: absolute;
      left: 500;
      top: 25;
}
.player { position: absolute; width: 32px; height: 32px; }
.fieldNumber {position: absolute; font-size: 10px;}
ul { margin-top: 3px; }
#controls {
      position: absolute;
      left: 20px;
      top: 480px;
}
#slider-bg {
  background:url(http://yui.yahooapis.com/2.8.0r4/build/slider/assets/bg-fader.gif) 5px 0 no-repeat; 
}

</style>

</head>
<body>
      <div id="board"><strong>Loading...</strong></div>
      <div id="status"></div>
      <img id="red" class="player" src="<%=image_path%>/red.png" />
      <img id="blue" class="player" src="<%=image_path%>/blue.png" />
      <div id="controls">
              <input style="float: left; padding: 0 5px; width: 75px;" id="playButton" type="button" value="start" onclick="playButtonClick()" />
              <div style="float: left; padding: 0 5px;" class="yui-skin-sam" id="slider"></div>
              <span style="foat: left; padding: 0 5px;" id="value">0</span>
      </div>
</body>

<script>
function Point(x, y) {
      this.x = x;
      this.y = y;
}
var isPlaying = <%= autoplay %>;
var replayURL = "<%= replay_url %>";
var fieldSize = 40;
var fieldPositions = new Array();
var xml;
var interval;
var numTurns;
var s;
var turn = 0;

function createAjaxRequest() {
	try { return new ActiveXObject("Msxml2.XMLHTTP"); } catch(e) {}
	try { return new ActiveXObject("Microsoft.XMLHTTP"); } catch(e) {}
	try { return new XMLHttpRequest(); } catch(e) {}
	return null;
}

fieldPositions[0] = new Point(20, 420);
var i = 1;
for (; i <= 10; i++) fieldPositions[i] = new Point(fieldPositions[i-1].x + fieldSize, fieldPositions[i-1].y);
for (; i <= 20; i++) fieldPositions[i] = new Point(fieldPositions[i-1].x, fieldPositions[i-1].y - fieldSize);
for (; i <= 30; i++) fieldPositions[i] = new Point(fieldPositions[i-1].x - fieldSize, fieldPositions[i-1].y);
for (; i <= 38; i++) fieldPositions[i] = new Point(fieldPositions[i-1].x, fieldPositions[i-1].y + fieldSize);
for (; i <= 46; i++) fieldPositions[i] = new Point(fieldPositions[i-1].x + fieldSize, fieldPositions[i-1].y);
for (; i <= 52; i++) fieldPositions[i] = new Point(fieldPositions[i-1].x, fieldPositions[i-1].y - fieldSize);
for (; i <= 55; i++) fieldPositions[i] = new Point(fieldPositions[i-1].x - fieldSize, fieldPositions[i-1].y);
for (; i <= 59; i++) fieldPositions[i] = new Point(fieldPositions[i-1].x, fieldPositions[i-1].y + fieldSize);
for (; i <= 62; i++) fieldPositions[i] = new Point(fieldPositions[i-1].x - fieldSize, fieldPositions[i-1].y);
for (; i <= 64; i++) fieldPositions[i] = new Point(fieldPositions[i-1].x, fieldPositions[i-1].y - fieldSize);

var req = createAjaxRequest();
req.open("GET", replayURL, true);
req.setRequestHeader("Content-Type", "text/xml");
req.onreadystatechange = function() {
	if (req.responseXML == null || req.readyState != 4) return;
	xml = req.responseXML;
	var fieldNodes = xml.getElementsByTagName("field");
	var output = "";
	for (var i = 0; i < fieldNodes.length; i++) {
		var fieldType = fieldNodes[i].firstChild.nodeValue.toLowerCase();
		output += '<img class="field" src="images/'+fieldType+'.png" style="left:'+fieldPositions[i].x+'px; top:'+fieldPositions[i].y+'px;" />';
		output += '<div class="fieldNumber" style="left:'+(fieldPositions[i].x+27)+'px; top:'+(fieldPositions[i].y+24)+'px;">'+i+'</div>';
	}
	document.getElementById("board").innerHTML = output;
	
	numTurns = xml.getElementsByTagName("redStates")[0].getElementsByTagName("red").length;
	
	YUI({combine: true, timeout: 10000}).use("slider", function (Y) {
		s = new Y.Slider({
			axis: 'x',
			value: 0,
			max: numTurns-1,
			railSize: '500px',
			thumbImage: 'http://yui.yahooapis.com/3.0.0/build/slider/assets/skins/sam/thumb-classic-x.png'
		});
		s.render("#slider");
		s.after('valueChange', function(e) {
			if (isPlaying) return;
			turn = e.newVal;
			renderTurn();
		});
		s.after("slideStart", function(e) {
			stop();
		});
		renderTurn();
		if (isPlaying) play();
	});
}
req.send(null);

function playButtonClick() {
	if (isPlaying) {
		stop();
	} else {
		play();
	}
}

function play() {
	isPlaying = true;
	document.getElementById("playButton").value = "pause";
	nextTurn();
	interval = setInterval(nextTurn, 2000);
}
function stop() {
	clearInterval(interval);
	isPlaying = false;
	document.getElementById("playButton").value = "start";
}
function nextTurn() {
	turn++;
	if (turn >= numTurns - 1) {
		stop();
		turn = numTurns - 1;

	}
	try {s.setValue(turn); } catch(e) {}
	renderTurn();
}

function renderTurn() {
	
	document.getElementById("value").innerHTML = "Runde " + xml.getElementsByTagName("turn")[turn].getAttribute("round");
	
	var redNode = xml.getElementsByTagName("redStates")[0].getElementsByTagName("red")[turn];
	var fieldNumberRed = parseInt(redNode.getElementsByTagName("fieldNumber")[0].firstChild.nodeValue);
	document.getElementById("red").style.left = (fieldPositions[fieldNumberRed].x + 5) + "px";
	document.getElementById("red").style.top = (fieldPositions[fieldNumberRed].y + 5) + "px";
	
	var blueNode = xml.getElementsByTagName("blueStates")[0].getElementsByTagName("blue")[turn];
	var fieldNumberBlue = parseInt(blueNode.getElementsByTagName("fieldNumber")[0].firstChild.nodeValue);
	document.getElementById("blue").style.left = (fieldPositions[fieldNumberBlue].x + 5) + "px";
	document.getElementById("blue").style.top = (fieldPositions[fieldNumberBlue].y + 5) + "px";
	
	var jokerNames = {TAKE_OR_DROP_CARROTS:"20 Karotten", EAT_SALAD:"Salat fressen", HURRY_AHEAD:"Vorspringen", FALL_BACK:"Zur&uuml;ckspringen"};
	
	var str = "";
	str += '<strong style="color:#DD0000">'+redNode.getAttribute("displayName")+'</strong><br />';
	str += redNode.getElementsByTagName("carrots")[0].firstChild.nodeValue + " Karotten<br />";
	str += redNode.getElementsByTagName("saladsToEat")[0].firstChild.nodeValue + " Salate<br />";
	str += "Joker:<ul>";
	var jokerNodes = redNode.getElementsByTagName("action");
	var i = 0;
	for (var jokerName in jokerNames) {
		if (i < jokerNodes.length && jokerNodes[i].firstChild.nodeValue == jokerName) { str += "<li>" + jokerNames[jokerName] + "</li>"; i++; }
		else str += "<li><s>" + jokerNames[jokerName] + "</s></li>";
	}
	/*for (var j = 0; j < jokerNodes.length; j++) {
		str += "<li>" + jokerNames[jokerNodes[j].firstChild.nodeValue] + "</li>";
	}*/
	str += "</ul>";
	str += '<strong style="color:#0000DD">'+blueNode.getAttribute("displayName")+'</strong><br />';
	str += blueNode.getElementsByTagName("carrots")[0].firstChild.nodeValue + " Karotten<br />";
	str += blueNode.getElementsByTagName("saladsToEat")[0].firstChild.nodeValue + " Salate<br />";
	str += "Joker:<ul>";
	var jokerNodes = blueNode.getElementsByTagName("action");
	var i = 0;
	for (var jokerName in jokerNames) {
		if (i < jokerNodes.length && jokerNodes[i].firstChild.nodeValue == jokerName) { str += "<li>" + jokerNames[jokerName] + "</li>"; i++; }
		else str += "<li><s>" + jokerNames[jokerName] + "</s></li>";
	}
	str += "</ul>";
	
	if (turn > 0) {
		var color = xml.getElementsByTagName("turn")[turn-1].getAttribute("player").toLowerCase();
		var moveNodes = xml.getElementsByTagName(color+"States")[0].getElementsByTagName(color)[turn].getElementsByTagName("move");
		var moveNode = moveNodes[moveNodes.length - 1];
		var moveType = moveNode.getAttribute("typ");
		var moveName = "";
		if (moveType == "MOVE") moveName = "setzt " + moveNode.getAttribute("n") + " Felder nach vorne";
		if (moveType == "PLAY_CARD") moveName = "spielt den Hasenjoker: " + jokerNames[moveNode.getAttribute("card")];
		if (moveType == "EAT") moveName = "frisst einen Salat";
		if (moveType == "FALL_BACK") moveName = "f&auml;llt auf einen Igel zur&uuml;ck";
		if (moveType == "TAKE_OR_DROP_CARROTS") {
			if (moveNode.getAttribute("n") == "10") moveName = "nimmt 10 Karotten";
			else moveName = "gibt 10 Kartten ab";
		}
		str += (color=="red" ? '<strong style="color:#DD0000">Rot</strong>' : '<strong style="color:#0000DD">Blau</strong>') + " " + moveName + "<br />";
	}
		
	document.getElementById("status").innerHTML = str;
}



</script>

</html>

