<% show_to :administrator do %>
  <div id="actions">
  </div>
<% end %>
<h1> 
  <%= link_to h(@contest.name) %> /
  <%= CustomMatch.human_name %>
</h1>

<%= render :partial => "matches/match", :locals => {:match => @match} %>

<% tooltip_init %>
