<h1>Spiel / <%= @match.slots.collect{ |s| content_tag(:em, s.name) }.join(' gegen ') %></h1>

<% @match.rounds.each do |round| %>
  <tr>
    <% round.slots.each_with_index do |slot,i| %>
      <% unless i.zero? %>
        <td>vs</td>
      <% end %>
      <td><%= slot.name %></td>
    <% end %>
  </tr>
<% end %>