<%= stylesheet_link_tag "season_states" %>
<h1> Saison: 
      <%= link_to @season.name, @season %> / 
      <%= link_to "Status", :action => :status %> / 
      Phasen 
</h1>

<% tabnav :administration do %>
  <%= render :partial => 'phase', :collection => @season.phases %>
<% end %>

