Hallo <% @person.name %>,

Ihr Passwort fuer die Wettbewerbsseite der Software-Challenge wurde soeben geaendert.
Sie koennen sich jetzt mit Ihrer eMail-Adresse (<%= @person.email %>) und dem neuen Passwort

<%= @plain_password %>

unter

<%= @url %>

anmelden.

Mit freundlichen Gruessen
  Ihr Software-Challenge-Team
