Hallo <%= @person.name %>,

es wurde soeben ein Account fuer Sie erstellt. Sie koennen sich mit Ihrer
eMail-Adresse (<%= @person.email %>) und dem Passwort

<%= @plain_password %>

unter

<%= @url %>

anmelden.

Mit freundlichen Gruessen
  Ihr Software-Challenge-Team
