<%= stylesheet_link_tag "tickets" %>

<h1> 
  <%= link_to "Tickets", tickets_url() %> / 
  <%= link_to "Ticket: #{@ticket.title}", ticket_path(:id => @ticket.id) %> / Anhänge
</h1>

<% tabnav :tickets do %>
  <%= render :partial => "attachments", :locals => {:ticket => @ticket} %>
<% end %>

