<%= javascript_include_tag 'markdown/jquery.markedit.js', 'markdown/showdown.js' %>
<%= stylesheet_link_tag 'markdown/jquery.markedit.css', 'tickets' %>

<h1>
Neues Ticket erstellen
</h1>
<% tabnav :tickets do %>
  <%= render :partial => 'form', :locals => {:ticket => @ticket} %>
<% end %>

