body {
	margin: 0;
	font-weight: bold;
	color: #fff;
	font-family: Arial;
}

#container {
	width: 800px;
	height: 700px;
      	background-color: #060;
        background-image: url(/images/games/viewers/manhattan/manhattanbg.jpeg);
}


#board {
	position: absolute;
	left: 5px;
	top: 5px;	
	width: 587px;
	height: 588px;
}

#head_background {
        position: absolute;
        left: 0px;
        top: 3px;
        width: 800px;
        height: 96px;
        background-color: black;
        z-index: 1;
        opacity: 0.12;
}

.segment .element {
        position: absolute;
        width: 43px;
        height: 43px;
}

.segment {
        height: 120px;
        z-index: 1000;
}

.segments {
        position: absolute;
        height: 120px;
}

#blue_cards {
        position: absolute;
        left: 620px;
        top: 623px;
}

#red_cards {
        position: absolute;
        left: 10px;
        top: 623px;
}

#blue_segments{
        left: 0px;
        top: 0px;
}

#red_segments{
        left: 0px;
        top: 0px;
}

#board .tower .element {
        position: absolute;
        width: 43px;
        height: 43px;
}

#board .city {
        position: absolute;
        width: 100px;
        z-index: 1;
}

#city_0 {
        bottom: 110px;
        left: 40px;
}

#city_1 {
        bottom: 110px;
        left: 210px;
}

#city_2 {
        bottom: 110px;
        left: 380px;
}

#city_3 {
        bottom: 110px;
        left: 550px;
}

#board .city .tower {
        position: absolute;
}

#board .city_name {
        position: absolute;
        bottom: 40px;
        left: 30px;
        width: 170px;
        font-size: 30px;
        color: #808080;
        font-weight: bold;
        text-align: center;
        -webkit-transform: rotate(-50deg); 
        -moz-transform: rotate(-50deg); 
}

.segment_counter {
        position: absolute;
        background-color: black;
        color: white;
        bottom: 14px;
        left: 30px;
        z-index: 6000;
        width: 11px;
        text-align: center;
        font-size: 10;
}

#score {
	width: 120px;
	text-align: center;
	line-height: 30px;
        position: absolute;
        top: 15px;
        left: 340px;
        z-index: 10;
}

#round {
        color: white;
        font-size: 20px;
        z-index: 10;
        text-shadow: 0 0 1px black;

}

.player1{
        background-color: #ff3c3c;
}

.player2{
       background-color: #5050ff;
}

#score span.player {
	padding: 2px 5px;
	border: 1px solid #000;
	font-size: 150%;
}

#playerinfos1 {
      position: absolute;
      top: 7px;
      left: 15px;
      font-size: 13px;
      color:white;
      z-index: 10;
      text-shadow: 0 0 1px black;
}

#playerinfos1 div {
        margin-top: 3px;
}

#name1 {
        font-size: 22px;
        color: #ff3c3c; 
        text-shadow: 0 0 2px #FFF;
}

#current_red_points{
        font-size: 20px;
}

#current_blue_points{
        font-size: 20px;
}

#playerinfos2 {
	position: relative;
	top: 7px;
	right: 10px;
	font-size: 13px;
        color:white;
        z-index: 10;
        text-shadow: 0 0 1px black;
}

#name2 {
        font-size: 22px;
        color: #5050ff;
        text-shadow: 0 0 2px #FFF;
        text-align: right;
}

#playerinfos2 div {
        margin-top: 3px;
        text-align:right;
}

#result {
  background-color: gray;
  opacity: 0.90;
  position: absolute;
  left: 250px;
  top: 250px;
  z-index: 100000;
  padding: 5px;
  text-shadow: 0 0 1px black;
}

#results {
  border: 1px solid black;
  font-size: 10px;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 20px;
}

#winner {
  font-size: 16px;
}

.relevantForRanking {
  font-weight: bold;
}

#buttons {
        position: absolute; 
        left: 292px; 
        top: 617px; 
        width: 216px; 
        text-align: center;
}

#buttons button {
	width: 40px;
	height: 33px;
	padding-bottom: 2px;
}

#slider {
        position: absolute; 
        top: 675px; 
        left: 200px; 
        width: 400px;
        height: 6px;
}

#slider a{
        margin-left: -0.4em;
        top: -0.5em;
        width: 10px;
}
