<%= image_tag "photos/frontpage.png", :style => "float: left;" %>
<div class="text" style="margin-left: 450px;">
  <div style="padding: 20px;">
    <h2 style="margin: 0 0 1em 0; padding: 0; font-size: 16px;">Software-Challenge 2012</h2>
    <p>
      2012 geht die Software-Challenge wieder einmal in
      eine neue Runde und diesmal wird sie bundesweit
      ausgetragen.
    </p>
    <p>
      Wir freuen uns daher besonders auf einen spannenden Wettkampf!
    </p>
  </div>
  <div style="padding: 0px 20px 0px 20px">
    <%= render :partial => "/contests/pages/common_info" %>
  </div>
</div>
