<%= image_tag "photos/frontpage.png", :style => "float: left;" %>
<div class="text" style="margin-left: 450px;">
  <div style="padding: 20px;">
    <h2 style="margin: 0 0 1em 0; padding: 0; font-size: 16px;">Software-Challenge 2011</h2>
    <p>
      Die Software-Challenge geht dieses Jahr wieder in
      eine neue Runde.
    </p>
    <p>
      Wir freuen uns auf einen spannenden Wettkampf!
    </p>
  </div>
  <div style="padding: 0px 20px 0px 20px">
    <%= render :partial => "/contests/pages/common_info" %>
  </div>
</div>
