<div id="calendar-widget"></div>

<script type='text/javascript'>
  $(function() {
    var locale = $.datepicker.regional['de'];
    var calSettings = {};
    var $calendar = $('#calendar-widget');
    $.extend(calSettings, locale, {
      disableResizing: true
      ,disableDragging: <%= !administrator? %>
      ,buttonText: {today: "Heute"}
      ,aspectRatio: 1.618
      ,defaultView: 'month'
      ,events: '<%= contest_matchdays_url(@contest, :format => "json", :calendar => true) %>'
      ,eventDrop: function(calEvent, dayDelta, minuteDelta, allDay, revertFunc, jsEvent, ui, view) {
        var data = {
          id: calEvent.id
          ,day_delta: dayDelta
          ,authenticity_token: '<%= form_authenticity_token %>'
        };
        $.ajaxq("calendarQueue", {
          data: $.param(data)
          ,dataType: 'script'
          ,type: 'post'
          ,url: '<%= move_contest_matchdays_url %>'
          ,error: function() {
            alert("" + calEvent.title + " konnte nicht verschoben werden.");
            revertFunc();
          }
          ,success: function() {
            $calendar.fullCalendar("refetchEvents");
          }
        });
      }
    });
    $calendar.fullCalendar(calSettings);
  });
</script>
