<style type="text/css">
  .sortable {
    list-style: none;
  }

  .sortable li {
    line-height: 24px;
  }
  .sortable .handle {
    display: none;
    /* position: absolute;
    margin: 4px 0 4px -16px; */
    border: 0 none;
    height: 16px;
    width: 16px;
    margin: 4px 0;
    vertical-align: top;
  }

  .sortable li.template {
    display: none;
  }

  .sortable li.hover .handle {
    display: inline;
  }
</style>

<h2>Wertung für eine Spielrunde</h2>

<p>
  Der Aufbau muss identisch zu der <code>ScoreDefinition</code> des Spielplugins (Java) sein.
</p>

<% sortable = !@contest.started? %>
<% unless sortable %>
  <p>
    <strong>Hinweis</strong> Die Reihenfolge der Parameter kann nicht mehr geändert werden, weil bereits einige Spiele gespielt worden sind. Um die
    Reihenfolge zu verändern muss der gesamte Wettbewerb zurückgesetzt werden.
  </p>
<% end %>

<%= render :partial => 'definition', :locals => { :definition => @contest.round_score_definition, :name => 'round_score_definition', :sortable => sortable } %>

<h2>Wertung für ein Match</h2>

<%= render :partial => 'definition', :locals => { :definition => @contest.match_score_definition, :name => 'match_score_definition' } %>

<script type="text/javascript">
  $(document).ready(function() {
    $("ul.sortable.active li").hover(function() {
      $(this).addClass("hover");
    },
    function() {
      $(this).removeClass("hover");
    });
    $("ul.sortable").sortable({
      handle : '.handle',
      axis: 'y',
      items: '> *:not(.template)'
    }).each(function() {
      var $theSort = $(this);
      $(this.form).submit(function() {
        $theSort.sortable('serialize');
        return true;
      });
    });
  });
</script>