<h2><%= f.label :script_to_aggregate_rounds, "Script: Zusammenrechnen der Spielrunden" %></h2>

<p>
  <%= f.text_area :script_to_aggregate_rounds, :id => 'roundCode', :style => "width: 95%; height: 250px;" %>
</p>

<h2><%= f.label :script_to_aggregate_matches, "Script: Zusammenrechnen der Spiele / Tabelle" %></h2>

<p>
  <%= f.text_area :script_to_aggregate_matches, :id => 'matchCode', :style => "width: 95%; height: 250px;" %>
</p>