<style type="text/css">
  .played,
  .fc-agenda .played .fc-event-time,
  .played a {
    background-color: green; /* background color */
    border-color: green;     /* border color (often same as background-color) */
    color: white;           /* text color */
  }
</style>

<h1><%= current_page_title %></h1>

<% tabnav :edit_contest do %>
  <div id="calendar-widget"></div>
<% end %>


<script type='text/javascript'>
  $(function() {
    var locale = $.datepicker.regional['de'];
    var calSettings = {};
    var $calendar = $('#calendar-widget');
    $.extend(calSettings, locale, {
      disableResizing: true
      ,buttonText: {today: "Heute"}
      ,aspectRatio: 1.618
      ,defaultView: 'month'
      ,events: '<%= contest_matchdays_url(@contest, :format => "json", :calendar => true) %>'
      ,eventDrop: function(calEvent, dayDelta, minuteDelta, allDay, revertFunc, jsEvent, ui, view) {
        var data = {
          id: calEvent.id
          ,day_delta: dayDelta
          ,authenticity_token: '<%= form_authenticity_token %>'
        };
        $.ajaxq("calendarQueue", {
          data: $.param(data)
          ,dataType: 'script'
          ,type: 'post'
          ,url: '<%= move_contest_matchdays_url(@contest) %>'
          ,error: function() {
            alert("" + calEvent.title + " konnte nicht verschoben werden.");
            revertFunc();
          }
          ,success: function() {
            $calendar.fullCalendar("refetchEvents");
          }
        });
      }
    });
    $calendar.fullCalendar(calSettings);
  });
</script>
