<% form_for(@contest) do |f| %>
  <div style="float: right;">
    <%= f.submit 'Speichern' %> oder
    <%= link_to 'Zurück', contest_url(@contest) %>
  </div>
  <h1><%= current_page_title %></h1>

  <% tabnav :edit_contest do %>
    <%= render :partial => "form", :locals => { :f => f } %>
  <% end %>
<% end %>