<h1>
 <% if @season %><%= link_to @season.name, @season %> / <% end %> <%= @contest.name_was %>
</h1>

<% tabnav :administration do %>
  <h2><%= t("actions.edit") %></h2>
  <% tabnav :edit_contest do %>
    <%= render :partial => "form" %>
  <% end %>
<% end %>
