<div id="actions">
  <% link_to contest_matchday_url(@contest, @matchday, :format=>:pdf) do %>
    <%= image_tag('actions/pdf.png') %> <%= t "views.pdf_export" %>
  <% end %>
</div>
<h1>
  <%= @contest.name %>
</h1>

<% tabnav :contest do %>
  <%= render :partial => "matchdays/results", :locals => { :matchday => @matchday } %>
<% end %>
