  <table class="data-table">
   <thead>
     <tr>
      <th>Frage</th>
      <th>Antwort</th>
     </tr>
   </thead>
   <% @questions.each do |question| %>
     <tr style="background-color:<%= cycle('white', 'none')%>;">
       <td style="width: 65%;"><%= question.text %></td>
       <td><%= display_response(@response_set, question).html_safe unless question.display_type == "label" %></td>
     </tr>
   <% end %>
  </table>
