<h1>Verfügbare Umfragen</h1>

<% tabnav :administration do %>
<table class="data-table">
 <thead>
   <tr>
    <th>Name</th>
    <th>Erstellt am</th>
    <th>Teilnehmer</th>
    <th>Aktionen</th>
  </tr>
 </thead>

<% @surveys.each do |survey| -%>
  <tr>
    <td><%=h survey.title %></td>
    <td><%= l survey.created_at.to_date %></td>
    <td><%= survey.response_sets.count %></td>
    <td><%= link_to image_tag("actions/show.png"), survey_result_url(survey) %></td>
  </tr>
<% end %>
</table>

<% end %>
