<% show_to :administrator do %>
  <div id="actions">
    <% link_to [:new, @context, :news_post] do %>
      <%= image_tag "actions/add.png" %> Neuigkeit hinzufügen
    <% end %>
  </div>
<% end %>
<h1>
  <%= link_to @context.name, @context %> / 
  Neuigkeiten
</h1>
<% tabnav @context.class.to_s.downcase.to_sym do %>
  <% @news_posts.each do |post| %>
    <div class="<%= cycle :odd, :even %>" style="padding:10px">
      <%= render :partial => 'news_post', :locals => {:news_post => post} %>
    </div>
  <% end %>
<% end %>
