<table>
  <thead>
    <th>Name</th>
    <th>Wert</th>
    <th>Beschreibung</th>
  </thead>
  <tbody>
    <% check.fragments.each do |fragment| %>
      <tr>
        <td><%= fragment.name %></td>
        <td><%= if is_state?(fragment.value) then image_for_state(fragment.value) else fragment.value end %></td>
        <td><%= fragment.description %></td>
      </tr>
    <% end %>
  </tbody>
<table>

