<h1>
  <%= link_to @context.name, @context %> / 
  <%= link_to Survey.human_name(:count => 2), [@context, :survey_tokens] %>
</h1>
<% tabnav @context.class.to_s.downcase.to_sym do %>
 <%= render :partial => 'form' %> 
<% end %>
